<sui>
    <sui-proc name="apiClaim" model="Claim" type="object" root="Claim" run="once">
        <sui-proc-param name="IncidentId" type="route" required="true" />
        <sui-proc-param name="ClaimantId" type="route" required="true" />
        <sui-proc-param name="ClaimId" type="route" />
    </sui-proc>
    <sui-proc name="apiClassOfBusiness" model="Classes" run="once" />
    <sui-proc name="apiClaimBinder" model="Binders" run="auto">
        <sui-proc-param name="IncidentId" type="route" required="true" />
        <sui-proc-param name="ClassId" type="scope" value="Claim.ClassId" required="true" />
    </sui-proc>
    <sui-proc name="apiClaimStatus" model="Statuses" run="auto">
        <sui-proc-param name="ClaimId" type="scope" value="Claim.ClaimId" required="true" />
    </sui-proc>
    <sui-proc name="apiClaimSave">
        <sui-proc-param name="IncidentId" type="route" required="true" />
        <sui-proc-param name="ClaimantId" type="route" required="true" />
        <sui-proc-param name="ClaimId" type="route" />
        <sui-proc-param name="Title" type="scope" value="Claim.Title" />
        <sui-proc-param name="ClassId" type="scope" value="Claim.ClassId" />
        <sui-proc-param name="BinderId" type="scope" value="Claim.BinderId" />
        <sui-proc-param name="Status" type="scope" value="Claim.Status.Status" />
    </sui-proc>
    <sui-form heading="{{Claim.Title || 'New Claim'}}" subheading="Incident: {{Claim.SysNum}}" back="/incident/{{routeParam('IncidentId')}}/claimant/{{routeParam('ClaimantId')}}" save="apiClaimSave" reload="apiClaim">
        <sui-form-content heading="Claim Details">
            <sui-form-label heading="Claimant">
                <p class="form-control form-control-static">{{Claim.Claimant}}</p>
            </sui-form-label>
            <sui-form-label heading="Policy Reference">
                <p class="form-control form-control-static">{{Claim.PolicyReference}}</p>
            </sui-form-label>
            <sui-form-label heading="Policy Section Title">
                <input type="text" ng-model="Claim.Title" required sui-form-control />
            </sui-form-label>
            <sui-form-label heading="Class of Business">
                <select ng-model="Claim.ClassId" ng-options="Class.Id as Class.Description for Class in Classes" required sui-form-control>
                    <option value=""></option>
                </select>
            </sui-form-label>
        </sui-form-content>
        <sui-form-content heading="Binder">
            <sui-form-label heading="Coverholder">
                <p class="form-control form-control-static">{{Claim.Coverholder}}</p>
            </sui-form-label>
            <sui-form-label heading="Risk Located in">
                <p class="form-control form-control-static">{{Claim.IncidentCountry}}</p>
            </sui-form-label>
            <sui-form-label heading="Insured Domiciled in">
                <p class="form-control form-control-static">{{Claim.PolicyholderCountry}}</p>
            </sui-form-label>
            <sui-form-label heading="Policy Inception Date">
                <p class="form-control form-control-static">{{Claim.PolicyInceptionDate | date: "shortDate"}}</p>
            </sui-form-label>
            <sui-form-label heading="Policy Expiry Date">
                <p class="form-control form-control-static">{{Claim.PolicyExpiryDate | date: "shortDate"}}</p>
            </sui-form-label>
            <sui-form-label heading="Binder">
                <select ng-model="Claim.BinderId" ng-options="Binder.BinderId as Binder.Binder for Binder in Binders" sui-form-control ng-disabled="Binders.length == 0">
                    <option value="">{{(Binders.length == 0) ? "There are no applicable binders" : ""}}</option>
                </select>
            </sui-form-label>
        </sui-form-content>
        <sui-form-content heading="Status" ng-if="routeParam('ClaimId')">
            <sui-form-label heading="Claim Status">
                <select ng-model="Claim.Status.Status" ng-options="Status.Status as Status.StatusDesc for Status in Statuses" required sui-form-control>
                    <option value=""></option>
                </select>
            </sui-form-label>
            <sui-form-label heading="Date Status Updated">
                <div class="input-group">
                    <p class="form-control form-control-static">{{Claim.Status.UpdatedDTO | date : "shortDate"}}</p>
                    <span class="input-group-addon">{{Claim.Status.UpdatedDTO | date : "shortTime"}}</span>
                </div>
            </sui-form-label>
            <sui-form-label heading="Status Updated By">
                <p class="form-control form-control-static">{{Claim.Status.UpdatedBy}}</p>
            </sui-form-label>
            <sui-form-label heading="Date First Closed">
                <div class="input-group">
                    <p class="form-control form-control-static">{{Claim.Status.DateFirstClosed | date : "shortDate"}}</p>
                    <span class="input-group-addon">{{Claim.Status.DateFirstClosed | date : "shortTime"}}</span>
                </div>
            </sui-form-label>
            <sui-form-label heading="Reopen Count">
                <p class="form-control form-control-static">{{Claim.Status.ReopenCount | number : 0}}</p>
            </sui-form-label>
        </sui-form-content>
    </sui-form>
</sui>


